@auth0:registry=https://nexus.corp.icr-team.com/repository/cognos-npm/
@cognos:registry=https://nexus.corp.icr-team.com/repository/cognos-npm/
@icr:registry=https://nexus.corp.icr-team.com/repository/icr_ui_build_prod/
strict-ssl=false
